# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/.gitignore
/.gitignore
/src/App.css
/src/App.test.tsx
/src/App.tsx
/public/favicon.ico
/src/index.css
/public/index.html
/src/index.tsx
/src/logo.svg
/public/logo192.png
/public/logo512.png
/public/manifest.json
/.idea/mistinfo.iml
/.idea/modules.xml
/package.json
/package-lock.json
/src/react-app-env.d.ts
/README.md
/src/reportWebVitals.ts
/public/robots.txt
/src/setupTests.ts
/tsconfig.json
/.idea/vcs.xml
/yarn.lock
