.row{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px dotted rgba(157, 9, 157, 0.85);
    position: relative;
}

.formInputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formInputs input {
    width: 50px;
}

.formBox {
    display: flex;
    border: 1px dotted rgba(41, 40, 42, 0.85);
    padding: 5px;
    box-sizing: border-box;
}
.fieldsBox{
    display: flex;
    flex-direction: column;
    border: 1px solid #4a53ce;
    width: 100%;
}
.fieldsMainParamBox, .fieldsTranslateBox {
    display: flex;
    border: 1px solid #5fcade;
    padding: 5px;
    flex-grow: 1;
    gap: 5px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.posMainDiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px dotted rgba(157, 9, 157, 0.85);
    min-width: 200px;
}
.posCoordDiv{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.fieldBoxPos{
    display: flex;
    border: 1px solid #ccbf64;
    padding: 5px;
    /*width: 28%;*/

    gap: 5px;
    flex-grow: 1;
    justify-content: space-between;
}
.fieldBoxPos input{
    /*display: flex;*/
    flex-grow: 1;
    padding: 0;
}

.fieldBox, .fieldAttributesBox, .fieldNameBox, .iconFieldBox {
    display: flex;
    border: 1px solid #ccbf64;
    padding: 5px;
    width: 28%;
    gap: 5px;
    justify-content: space-between;
}
.fieldAttributesBox{
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 97%;
}
.fieldNameBox {
    width: 100%;
    justify-content: space-between;
}

.inputNumber, .inputText {
    min-width: 30px;
    width: 30px;
    height: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
}

.inputText {
    flex-grow: 0.9;
    max-width: 50%;
}

.label {
    font-size: 0.8rem;
    /*width: 20px;*/
    overflow: hidden;
    /*max-width: 25%;*/
}
.iconMainDiv{
    display: flex;
    flex-direction: column;
}
.iconFieldBox{
    width: 100px;
    gap: 10px;
}
.iconLabel{
    width: 20px;
    font-size: 18px;
}
.iconInput {
    width: 0px;
    visibility: hidden;
}
.imgIcon {
    width: 50px;
    height: 50px;
}

.buttonBox{
    display: flex;
    gap: 10px;
    padding: 5px 0 0 5px;
}
.formButton{
    padding: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px darkgrey;
    background-color: #babac5;
    font-size: 14px;
    user-select: none;
    transition-duration: 0.05s;
    text-align: center;
}
.formButton:hover{
    background-color: #828a8a;
    cursor: pointer;
}
.formButton:active{
    background-color: #8da2a2;
    transform: translate(1px, 1px);
    box-shadow: 0px 0px 2px 2px darkgrey;
}



