.formInputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formInputs input {
    width: 50px;
}

.formBox {
    display: flex;
    border: 1px dotted rgba(41, 40, 42, 0.85);
    padding: 5px;
    box-sizing: border-box;
}
.fieldsBox{
    display: flex;
    flex-direction: column;
    border: 1px solid #4a53ce;
    width: 50%;
}
.fieldsMainParamBox, .fieldsTranslateBox {
    display: flex;
    border: 1px solid #5fcade;
    padding: 5px;
    flex-grow: 1;
    gap: 5px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}


.fieldBox, .fieldAttributesBox, .fieldNameBox {
    display: flex;
    border: 1px solid #ccbf64;
    padding: 5px;
    width: 28%;
    gap: 5px;
    justify-content: space-between;
}
.fieldAttributesBox{
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 97%;
}
.fieldNameBox {
    width: 100%;
    justify-content: space-between;
}

.inputNumber, .inputText {
    min-width: 30px;
    width: 30px;
    height: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
}

.inputText {
    flex-grow: 0.9;
    max-width: 50%;
}

.label {
    font-size: 0.8rem;
    /*width: 20px;*/
    overflow: hidden;
    /*max-width: 25%;*/
}