.header{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    justify-content: space-between;
}
.row{
    display: flex;
}
.navButton{
    padding: 2px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px darkgrey;
    background-color: #5fcade;
    font-size: 14px;
    user-select: none;
    transition-duration: 0.05s;
    text-align: center;
}
.navButton:hover{
    background-color: #60d3ec;
    cursor: pointer;
}
.navButton:active{
    background-color: #0a99b9;
    transform: translate(1px, 1px);
    box-shadow: 0px 0px 2px 2px darkgrey;
}