.headerMain {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #c4c2c2;
    height: fit-content;
    margin-bottom: 1px;
}

.logo {
    width: 18vh;
    height: 9vh;
    background: rgba(141, 162, 162, 0) url("../../assets/img/logo/mist_logo.png") center / cover no-repeat;
}

.title {
    display: flex;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0px 0px 2px 2px #bd5427;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    height: fit-content;
    align-self: center;
    justify-self: center;
    background-color: #bdbbbb;
}
