.contentBox {
    display: flex;
    /*border: 1px solid black;*/
    padding: 5px;
    flex-direction: column;
    gap: 5px;

    flex-grow: 1;
    overflow: hidden;
}
.nav {
    /*border: 1px solid black;*/
    /*padding: 5px;*/
}
.dbField{
    /*border: 1px solid black;*/
    padding: 5px;
    flex-grow: 1;
}