.divRow{
    display: flex;
    gap: 5px;
    padding: 5px;
    align-items: flex-start;

}
.divCol{
    display: flex;
    flex-direction: column;
    gap: 6px;
    /*padding: 5px;*/
    min-width: 200px;

}

.fieldBox, .fieldBoxCol, .fieldBoxNoBorder, .fieldBoxIcon {
    border: 3px solid #888686;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 200px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}
.fieldBoxCol{
    flex-direction: column;
}
.fieldBoxNoBorder{
    border: none;
}
.fieldBoxColNoBorder{
    gap: 5px;
    flex-direction: column;
    border: none;
}
.fieldBoxIcon{
    width: fit-content;
    /*border: 1px dashed #888686;*/
    border: none;
}
.border{
    border: 3px #808080 groove;
}
.infoPar{
    height: 1.3rem;
    vertical-align: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    background-color: #f1bc7e;

}
.label{
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}
.selectWithDef:nth-child(1){
    background-color: #ad4332;
}
.optionDefault{
    font-size: 16px;
    background-color: #ad4332;
}
.simpleSelect {
    text-align: left;

}
.inputText, .inputNumber{
    font-size: 20px;
    min-width: 30px;
    /*width: 30px;*/
    height: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
}
.inputNumber{
    font-size: 18px;
    max-width: 60px;
    padding: 0 5px 0 0;
}
.iconInput {
    width: 0px;
    visibility: hidden;
}
.imgIcon {
    width: 50px;
    height: 50px;
}



.addButton, .clearButton{
    height: 25px;
    /*width: 60px;*/
    padding: 5px;
    font-weight: bold;
    align-self: center;
    border-radius: 10px;
    border: 2px solid #1ee0a8;
    background: #f3d592;
    transition-duration: 0.05s;
}
.addButton:hover, .clearButton:hover{
    cursor: pointer;
    background: #f3d06d;
}
.addButton:active, .clearButton:active{
    background: #ffc00d;
}

.clearButton{
    border: 2px solid rgba(41, 40, 42, 0.85);
    background: #ff6363;
}

.mainLootDiv {
    display: flex;
    gap: 20px;
}
.lootDropBlock{
    display: flex;
    flex-direction: column;
}


.editButton, .deleteButton {
    width: 20px;
    height: 20px;
    background: #8da2a2 url("./../../../assets/icons/edit.svg")  center / cover no-repeat;
    box-shadow: 1px 1px 1px 1px #718181;
    user-select: none;
    transition-duration: 0.05s;
}
.editButton:hover, .deleteButton:hover{
    cursor: pointer;
}
.editButton:active, .deleteButton:active{
    background-color: #99b7b7;
    transform: translate(1px, 1px);
    box-shadow: 0px 0px 1px 1px #718181;
    /*cursor: pointer;*/
}
.deleteButton {
    width: 20px;
    height: 20px;
    background: #e18979 url("./../../../assets/icons/edit.svg")  center / cover no-repeat;
    box-shadow: 1px 1px 1px 1px #718181;
    user-select: none;
    transition-duration: 0.05s;
}
.deleteButton:hover{
    cursor: pointer;
}
.deleteButton:active{
    background-color: #ee5b44;
    transform: translate(1px, 1px);
    box-shadow: 0px 0px 1px 1px #718181;
    /*cursor: pointer;*/
}