.divRow{
    display: flex;
    gap: 5px;
    padding: 5px;
}
.divCol{
    display: flex;
    flex-direction: column;
    gap: 6px;
    /*padding: 5px;*/
    /*align-items: flex-start;*/
}

.fieldBox {
    border: 1px solid #1ee0a8;
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 200px;
    overflow: hidden;
    justify-content: space-between;
}
.label{
    font-size: 18px;
    font-weight: bold;
}
.inputText, .inputNumber{
    font-size: 20px;
    min-width: 30px;
    /*width: 30px;*/
    height: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
}
.inputNumber{
    font-size: 18px;
    max-width: 60px;
    padding: 0 5px 0 0;
}


.mainDropDiv {
    border: 1px solid black;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
}
.dropForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.dropFormRows {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-grow: 0;
}
.inputNum {
    text-align: center;
    width: 50px;
}
.inputStr {
    height: 1rem;
    font-size: 0.8rem;
    width: 140px;
}
.inputStr::placeholder{
    font-size: 0.6rem;
}


.table, .tableRow, .tableCell {
    border: 1px solid black;
    padding: 2px;
}
.addButton, .clearButton{
    height: 25px;
    /*width: 60px;*/
    padding: 5px;
    font-weight: bold;
    align-self: center;
    border-radius: 10px;
    border: 2px solid #1ee0a8;
    background: #f3d592;
}
.clearButton{
    border: 2px solid rgba(41, 40, 42, 0.85);
    background: #ff6363;
}

.mainLootDiv {
    display: flex;
    gap: 20px;
}
.lootDropBlock{
    display: flex;
    flex-direction: column;
}


.editButton, .deleteButton {
    width: 20px;
    height: 20px;
    background: #8da2a2 url("./../../../assets/icons/edit.svg")  center / cover no-repeat;
    box-shadow: 1px 1px 1px 1px #718181;
    user-select: none;
    transition-duration: 0.05s;
}
.editButton:hover, .deleteButton:hover{
    cursor: pointer;
}
.editButton:active, .deleteButton:active{
    background-color: #99b7b7;
    transform: translate(1px, 1px);
    box-shadow: 0px 0px 1px 1px #718181;
    /*cursor: pointer;*/
}
.deleteButton {
    width: 20px;
    height: 20px;
    background: #e18979 url("./../../../assets/icons/edit.svg")  center / cover no-repeat;
    box-shadow: 1px 1px 1px 1px #718181;
    user-select: none;
    transition-duration: 0.05s;
}
.deleteButton:hover{
    cursor: pointer;
}
.deleteButton:active{
    background-color: #ee5b44;
    transform: translate(1px, 1px);
    box-shadow: 0px 0px 1px 1px #718181;
    /*cursor: pointer;*/
}