.mainDropDiv {
    border: 1px solid black;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.dropForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.dropFormRows {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-grow: 0;
}
.inputNum {
    text-align: center;
    width: 50px;
}
.inputStr {
    height: 1rem;
    font-size: 0.8rem;
    width: 140px;
}
.inputStr::placeholder{
    font-size: 0.6rem;
}


.table, .tableRow, .tableCell {
    border: 1px solid black;
    padding: 2px;
}
.addButton{
    height: 25px;
    width: 60px;
    align-self: center;
    border-radius: 10px;
    border: 2px solid #1ee0a8;
    background: #f3d592;
}

.mainLootDiv {
    display: flex;
    gap: 20px;
}
.lootDropBlock{
    display: flex;
    flex-direction: column;
}