.contentBox {
    width: 100%;
    display: flex;
    border: 1px solid black;
    padding: 5px;
    flex-direction: column;
    gap: 10px;
}
.addFormBox {
    display: flex;
    width: 100%;
}
.addDiv {
    width: 60%;
}